/* RESET CSS */

a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
	font-size: 1em;
	font-weight: normal;
}

/* GRID LAYOUT */

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }
  
  .container {
      width: 960px;
      margin: 0 auto;
      padding: 0px;
      position: relative;
  }
  
  .container:after, .container:before {
      content: " ";
      display: table;
  }
  
  .container:after {
      clear: both;
  }
  
  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, 
  .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
  .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, 
  .grid-16, .grid-1-3 {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
  }
  
  .grid-1 	{width: 40px;}
  .grid-2 	{width: 100px;}
  .grid-3 	{width: 160px;}
  .grid-4 	{width: 220px;}
  .grid-5 	{width: 280px;}
  .grid-6 	{width: 340px;}
  .grid-7 	{width: 400px;}
  .grid-8 	{width: 460px;}
  .grid-9 	{width: 520px;}
  .grid-10 	{width: 580px;}
  .grid-11 	{width: 640px;}
  .grid-12 	{width: 700px;}
  .grid-13 	{width: 760px;}
  .grid-14 	{width: 820px;}
  .grid-15 	{width: 880px;}
  .grid-16 	{width: 940px;}
  .grid-1-3	{width: 300px;}

  /* ESTILIZAÇÕES */


.formItens {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

.formItens input{
    height: 36px;
    margin-bottom: 20px;
}

#btnEntrar {
    margin-top: 20px;
    margin-bottom: 40px;
}

.headerHome {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
}

.listaHeader {
    position: absolute;
    right: 0;
    display: flex;
}

.listaHeader li {
    margin-left: 30px;
    cursor: pointer;
}

.introDescricao {
    margin: 80px 0;
}

.introDescricao h1 {
    font-size:24px;
    margin-bottom: 12px;
}

.introDescricao span {
    font-size:18px
}

.profissionaisRelacao h2 {
    font-size: 18px
}

.tabelaRelacao th{
    text-align: left;
}

.tabelaRelacao td:nth-child(1) {
    min-width: 120px;
}

/* ESTILIZAÇÕES MODAIS */

.modal-container {
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-cadastro {
    display: none;
}

.modal-login {
    display: none;
}

.modal-itens {
    position: relative;
    background: #F7F6F2;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: 10px solid #2CA55C;
    box-shadow: 0 0 0 10px #FFF;
}

.fechar {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 50px;
    height: 50px;
}

#seletorTipoPessoa{
    margin-bottom: 20px;
}

#fworkplace {
    display: none;
}

#fworkplace.ativo {
    display: block;
}

/* ATIVAR MODAL */

.modal-cadastro.ativo {
    display: flex;
}

.modal-login.ativo {
    display: flex;
}

